<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uml.cs.isense.collector"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    
    <supports-screens android:resizeable="true"
                  android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:xlargeScreens="true"
                  android:anyDensity="true"/>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".DataCollector"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.uml.cs.isense.complexdialogs.LoginActivity"
            android:label="Login"
            android:theme="@style/theme_dialog_black" />
        <activity
            android:name=".Experiments"
            android:label="Experiments" />
        <activity
            android:name="edu.uml.cs.isense.sync.SyncTime"
            android:label="SyncTime" />
        <activity
            android:name="edu.uml.cs.isense.complexdialogs.ChooseSensorDialog"
            android:label="Step 2: Select Fields"
            android:theme="@style/theme_dialog_black" />
        <activity
            android:name="edu.uml.cs.isense.complexdialogs.MediaManager"
            android:label="Media Manager"
            android:theme="@style/theme_dialog_black" />
        <activity
            android:name="edu.uml.cs.isense.complexdialogs.Setup"
            android:label="Step 1: Identify Session"
            android:theme="@style/theme_dialog_black" />
        <activity
            android:name="edu.uml.cs.isense.dialogs.LoginError"
            android:label="Login Failed"
            android:theme="@style/theme_dialog_black" />
        <activity
            android:name="edu.uml.cs.isense.dialogs.Summary"
            android:label="Session Summary"
            android:theme="@style/theme_dialog_black" />
        <activity
            android:name="edu.uml.cs.isense.dialogs.UploadChoice"
            android:label="Select an Action:"
            android:theme="@style/theme_dialog_black" />
        <activity
            android:name="edu.uml.cs.isense.dialogs.NoIsense"
            android:label="Upload Error"
            android:theme="@style/theme_dialog_black" />
        <activity
            android:name="edu.uml.cs.isense.dialogs.NoGps"
            android:label="No GPS Provider Found"
            android:theme="@style/theme_dialog_black" />
        <activity
            android:name="edu.uml.cs.isense.dialogs.ForceStop"
            android:label="Data Recording Halted"
            android:theme="@style/theme_dialog_black" />
        <activity
            android:name="edu.uml.cs.isense.dialogs.RecordingStopped"
            android:label="Data Recording Timed Out"
            android:theme="@style/theme_dialog_black" />
        <activity
            android:name="edu.uml.cs.isense.complexdialogs.Description"
            android:label="Enter Session Description"
            android:theme="@style/theme_dialog_black" />
        <activity
            android:name="edu.uml.cs.isense.simpledialogs.NoQR"
            android:label="No Barcode Scanner Found"
            android:theme="@style/theme_dialog_black" />
        <activity
            android:name="edu.uml.cs.isense.complexdialogs.Eula"
            android:label="End User License Agreement"
            android:theme="@style/theme_dialog_black" />
        
    </application>

</manifest>