#	Class Files

*.class

#	Useless Mac files

*.DS_Store

#	Backup Files
*.*~

#	Eclipse files
.classpath
.project
.settings

Android/rSENSETest/bin/
Android/rSENSETest/gen/

Android/*/bin
Android/*/gen

*/xcuserdata/