#	Class Files

*.class

#	Useless Mac files

*/.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

#	Backup Files
*.*~

#	Eclipse files
.classpath
.project
.settings
.metadata

Android/rSENSETest/bin/
Android/rSENSETest/gen/

Android/*/bin
Android/*/gen

*/xcuserdata/