<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uml.cs.isense.canobiev2"
    android:versionCode="8"
    android:versionName="2.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/display_name" >
        <activity
            android:name=".AmusementPark"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/display_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Configuration"
            android:label="Configuration"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MediaManager"
            android:label="Media Manager"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".Summary"
            android:configChanges="orientation|keyboardHidden"
            android:label="Session Summary"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />
               
        
        <activity
            android:name="edu.uml.cs.isense.queue.QueueLayout"
            android:label="Upload Data"
            android:theme="@style/theme_queue_layout" />
        <activity
            android:name="edu.uml.cs.isense.queue.QueueAlter"
            android:label="Alter Data Set"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name="edu.uml.cs.isense.queue.QueueEditData"
            android:label="Edit Data"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name="edu.uml.cs.isense.queue.QueueEditRename"
            android:label="Rename Data Set"
            android:theme="@style/theme_dialog_white" />
      
        <activity
            android:name="edu.uml.cs.isense.proj.BrowseProjects"
            android:label="Browse Projects"
            android:theme="@style/AppTheme" />
        <activity
            android:name="edu.uml.cs.isense.queue.QueueSummary"
            android:label="Summary"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name="edu.uml.cs.isense.dfm.FieldMatching"
            android:label="Select Fields"
            android:theme="@style/theme_dialog_white" />
         <activity
            android:name="edu.uml.cs.isense.credentials.Login"
            android:label="@string/login_prompt"
            android:theme="@style/theme_dialog_white" />
         <activity
            android:name="edu.uml.cs.isense.credentials.LoginError"
            android:label="@string/login_prompt_error"
            android:theme="@style/theme_dialog_white" />
         <activity
            android:name="edu.uml.cs.isense.proj.Setup"
            android:label="@string/project_prompt"
            android:theme="@style/theme_dialog_white" />
          <activity
            android:name="edu.uml.cs.isense.proj.ProjectNameDialog"
            android:label="@string/project_name_dialog"
            android:theme="@style/theme_dialog_white" />
         <activity
            android:name="edu.uml.cs.isense.sync.SyncTime"
            android:label="Sync Time"
            android:theme="@style/AppTheme" />
          <activity
            android:name="edu.uml.cs.isense.queue.QueueDeleteSelected"
            android:label="Delete Selected"
            android:theme="@style/theme_dialog_white" />
        
         
         
    </application>

</manifest>