<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.uml.cs.isense.collector"
    android:versionCode="20"
    android:versionName="3.2.5" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.PREVENT_POWER_KEY" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="edu.uml.cs.isense.collector.splash.Splash"
            android:configChanges="keyboardHidden|orientation"
            android:label="Data Collector"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DataCollector"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Automatic"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ManualEntry"
            android:configChanges="keyboardHidden|orientation"
            android:label="Manual"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dialogs.LoginActivity"
            android:label="Login"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name=".sync.SyncTime"
            android:label="Synchronize Time"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dialogs.ChooseSensorDialog"
            android:label="Select Fields"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name=".dialogs.MediaManager"
            android:label="Media Manager"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name=".dialogs.LoginError"
            android:label="Login Failed"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name=".dialogs.Summary"
            android:label="Data Summary"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name=".dialogs.NoGps"
            android:label="No GPS Found"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name=".dialogs.ForceStop"
            android:label="Data Recording Halted"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name=".dialogs.Description"
            android:label="Enter Data Set Description"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name=".sync.TimeSent"
            android:label="Time Sent"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name=".sync.TimeReceived"
            android:label="Time Received"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name=".sync.TimeFailed"
            android:label="Connection Timed Out"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name=".sync.TimeReset"
            android:label="Time Reset"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name=".dialogs.CanLogin"
            android:label="Would You Like to Login?"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name=".dialogs.NeedConnectivity"
            android:label="Connectivity Not Found"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name=".dialogs.CanRecord"
            android:label="Connectivity Not Found"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name=".dialogs.UploadFailSave"
            android:label="Upload Failed - Saving Instead"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name=".dialogs.FirstTimeUse"
            android:label="iSENSE Data Collector"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name=".dialogs.Step1Setup"
            android:label="Step 1: Setup"
            android:theme="@style/theme_dialog_white" />
        
        <activity
            android:name="edu.uml.cs.isense.queue.QueueLayout"
            android:label="Upload Data"
            android:theme="@style/theme_queue_layout"
            tools:ignore="MissingRegistered" />
        <activity
            android:name="edu.uml.cs.isense.queue.QueueAlter"
            android:label="Alter Data Set"
            android:theme="@style/theme_dialog_white"
            tools:ignore="MissingRegistered" />
        <activity
            android:name="edu.uml.cs.isense.queue.QueueEditData"
            android:label="Edit Data"
            android:theme="@style/theme_dialog_white"
            tools:ignore="MissingRegistered" />
        <activity
            android:name="edu.uml.cs.isense.queue.QueueEditRename"
            android:label="Rename Data Set"
            android:theme="@style/theme_dialog_white"
            tools:ignore="MissingRegistered" />
        <activity
            android:name="edu.uml.cs.isense.proj.BrowseProjects"
            android:label="Projects" 
            tools:ignore="MissingRegistered" />
        <activity
            android:name="edu.uml.cs.isense.proj.NoQR"
            android:label="No QR Code Scanner Found"
            android:theme="@style/theme_dialog_white" 
            tools:ignore="MissingRegistered" />
        <activity
            android:name="edu.uml.cs.isense.proj.Setup"
            android:label="Select a Project"
            android:theme="@style/theme_dialog_white"
            tools:ignore="MissingRegistered" />

        <service android:name="edu.uml.cs.isense.collector.DataCollectorService" >
        </service>
        
    </application>

</manifest>