<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uml.cs.isense"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/datawalk_logo"
        android:label="@string/app_name" >
        <activity
            android:name=".datawalk_v2.DataWalk"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".datawalk_v2.LoginActivity"
            android:label="@string/get_name"
           	android:theme="@style/theme_dialog_white" 
           	 >
        </activity>
        <activity
            android:name=".datawalk_v2.Prefs"
            android:label="Settings"
            >
        </activity>
             <activity
            android:name=".datawalk_v2.Setup2"
            android:label="Change Experiment Number"
            android:theme="@style/theme_dialog_white" 
            >
        </activity>
             <activity
            android:name=".datawalk_v2.NoQr2"
            android:label="No Qr"
            >
        </activity>
             <activity
            android:name=".datawalk_v2.BrowseExperiments2"
            android:label="Browse Experiments"
            >
        </activity>
        <activity
            android:name=".datawalk_v2.PrefsTwo"
            android:label="SettingsTwo"
             >
        </activity>
        
        <activity
            android:name=".datawalk_v2.CustomOnItemSelectedListener"
            android:label="SettingsTesting"
             >
        </activity>
           <activity
            android:name=".datawalk_v2.PrefsTwoClone"
            android:label="Recording Interval"
            android:theme="@style/theme_dialog_white" 
             >
        </activity>
         <activity
            android:name=".datawalk_v2.EnterNameActivity"
            android:label="Name Activity"
            android:theme="@style/theme_dialog_white" >
        </activity>
         <activity
            android:name=".datawalk_v2.About"
            android:label="About" 
            android:theme="@style/theme_dialog_white">
        </activity>
        <activity
            android:name=".datawalk_v2.LoginIsense"
            android:label="Login to Isense" 
            android:theme="@style/theme_dialog_white">
        </activity>
          <activity
            android:name=".datawalk_v2.Reset"
            android:label="Reset Settings"
            android:theme="@style/theme_dialog_white" >
        </activity>
        <activity
            android:name=".datawalk_v2.dialogs.NoGps"
            android:label="No Gps Satellites found" 
            android:theme="@style/theme_dialog_white">
        </activity>
        <activity
            android:name=".datawalk_v2.dialogs.ViewData"
            android:label="View Data"
            android:theme="@style/theme_dialog_white" >
        </activity>
        <activity
            android:name=".datawalk_v2.dialogs.ForceStop"
            android:label="Data Recording Halted" >
        </activity>
        <activity
            android:name=".datawalk_v2.dialogs.MenuItemAbout"
            android:label="About" >
        </activity>
        <activity
            android:name=".datawalk_v2.dialogs.NoConnect"
            android:label="No Connectivity" 
            android:theme="@style/theme_dialog_white">
        </activity>
        <activity
            android:name="edu.uml.cs.isense.queue.QueueLayout"
            android:label="Upload Data"
            android:theme="@style/theme_queue_layout" />
        <activity
            android:name="edu.uml.cs.isense.queue.QueueAlter"
            android:label="Alter Data Set"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name="edu.uml.cs.isense.queue.QueueEditData"
            android:label="Edit Data"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name="edu.uml.cs.isense.queue.QueueEditRename"
            android:label="Rename Data Set"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name=".exp.Setup"
            android:label="Choose Experiment"
            android:theme="@style/theme_dialog_white" />
        <activity
            android:name=".exp.BrowseExperiments"
            android:label="@string/select_exp" />
        <activity
            android:name=".exp.NoQR"
            android:label="No QR Code found" />
    </application>

</manifest>