<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uml.cs.isense.gcollector"
    android:versionCode="8"
    android:versionName="1.7" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".ManualEntry"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dialogs.LoginActivity"
            android:label="Login"
            android:theme="@style/theme_dialog_black" />
        <activity
            android:name=".experiment.BrowseExperiments"
            android:label="Experiments" />
        <activity
            android:name=".dialogs.MediaManager"
            android:label="Media Manager"
            android:theme="@style/theme_dialog_black" />
        <activity
            android:name=".dialogs.LoginError"
            android:label="Login Failed"
            android:theme="@style/theme_dialog_black" />
        <activity
            android:name=".dialogs.NoGps"
            android:label="No GPS Found"
            android:theme="@style/theme_dialog_black" />
        <activity
            android:name=".dialogs.NoQR"
            android:label="No QR Code Scanner Found"
            android:theme="@style/theme_dialog_black" />
        <activity
            android:name=".shared.QueueUploader"
            android:label="Upload Data"
            android:theme="@style/theme_dialog_black" />
        <activity
            android:name=".shared.DeleteDataSetFromUploadQueue"
            android:label="DataSet Manager"
            android:theme="@style/theme_dialog_black" />
        <activity 
            android:name=".dialogs.ExperimentDialog"
            android:label="Experiment ID"
            android:theme="@style/DialogTheme" />
        
    </application>

</manifest>