<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.uml.cs.isense.datawalk_v2"
    android:versionCode="18"
    android:versionName="2.3.2" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/display_name" >
        <activity
            android:name="edu.uml.cs.isense.queue.QueueSummary"
            android:label="Summary"
            android:theme="@style/theme_dialog_white"
            tools:ignore="MissingRegistered" />
        <activity
            android:name="edu.uml.cs.isense.dfm.FieldMatching"
            android:label="Select Fields"
            android:theme="@style/theme_dialog_white"
            tools:ignore="MissingRegistered" />
        <activity
            android:name=".DataWalk"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/display_name"
            android:theme="@style/theme_blue" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dialogs.DataRateDialog"
            android:label="Set Recording Interval"
            android:theme="@style/theme_dialog_white" >
        </activity>
        <activity
            android:name=".Help"
            android:label="How to Create a New Experiment:"
            android:theme="@style/theme_dialog_white" >
        </activity>
        <activity
            android:name=".About"
            android:label="About"
            android:theme="@style/theme_dialog_white" >
        </activity>
        <activity
            android:name=".Reset"
            android:label="Reset Settings"
            android:theme="@style/theme_dialog_white" >
        </activity>
        <activity
            android:name=".dialogs.NoGps"
            android:label="No Gps Satellites found"
            android:theme="@style/theme_dialog_white" >
        </activity>
        <activity
            android:name=".dialogs.ViewData"
            android:label="View Data"
            android:theme="@style/theme_dialog_white" >
        </activity>
        <activity
            android:name=".dialogs.ForceStop"
            android:label="Data Recording Halted"
            android:theme="@style/theme_dialog_white" >
        </activity>
        <activity
            android:name="edu.uml.cs.isense.queue.QueueLayout"
            android:label="Upload Data"
            android:theme="@style/theme_dialog_white"
            tools:ignore="MissingRegistered" />
        <activity
            android:name="edu.uml.cs.isense.queue.QueueAlter"
            android:label="Alter Data Set"
            android:theme="@style/theme_dialog_white"
            tools:ignore="MissingRegistered" />
        <activity
            android:name="edu.uml.cs.isense.queue.QueueEditData"
            android:label="Edit Data"
            android:theme="@style/theme_dialog_white"
            tools:ignore="MissingRegistered" />
        <activity
            android:name="edu.uml.cs.isense.queue.QueueEditRename"
            android:label="Rename Data Set"
            android:theme="@style/theme_dialog_white"
            tools:ignore="MissingRegistered" />
        <activity
            android:name="edu.uml.cs.isense.proj.Setup"
            android:label="Choose Project"
            android:theme="@style/theme_dialog_white"
            tools:ignore="MissingRegistered" />
        <activity
            android:name="edu.uml.cs.isense.proj.BrowseProjects"
            android:label="@string/select_proj"
            tools:ignore="MissingRegistered" />
        <activity
            android:name="edu.uml.cs.isense.proj.NoQR"
            android:label="No QR Code found"
            tools:ignore="MissingRegistered" />
        <activity
            android:name="edu.uml.cs.isense.queue.NoInitialProject"
            android:label="No Associated Projects"
            android:theme="@style/theme_dialog_white"
            tools:ignore="MissingRegistered" />
        <activity
            android:name="edu.uml.cs.isense.credentials.EnterName"
            android:label="@string/enter_name_prompt"
            android:theme="@style/theme_dialog_white"
            tools:ignore="MissingRegistered" />
        <activity
            android:name="edu.uml.cs.isense.credentials.Login"
            android:label="@string/login_prompt"
            android:theme="@style/theme_dialog_white"
            tools:ignore="MissingRegistered" />
        <activity
            android:name="edu.uml.cs.isense.credentials.LoginError"
            android:label="@string/login_error_prompt"
            android:theme="@style/theme_dialog_white"
            tools:ignore="MissingRegistered" />
        <activity
            android:name="edu.uml.cs.isense.credentials.ClassroomMode"
            android:label="@string/classroom_mode"
            android:theme="@style/theme_dialog_white"
            tools:ignore="MissingRegistered" />
        <activity
            android:name="edu.uml.cs.isense.queue.QueueDeleteSelected"
            android:label="Delete Selected Data Sets"
            android:theme="@style/theme_dialog_white"
            tools:ignore="MissingRegistered" />
        <service
            android:enabled="true"
            android:name=".Datawalk_Service"
            />
    </application>

</manifest>