<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uml.cs.isense"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <activity
        android:name="edu.uml.cs.isense.queue.QueueLayout"
        android:label="Upload Data"
        android:theme="@style/theme_queue_layout" />
    <activity
        android:name="edu.uml.cs.isense.queue.QueueAlter"
        android:label="Alter Data Set"
        android:theme="@style/theme_dialog_black" />
    <activity
        android:name="edu.uml.cs.isense.queue.QueueEditData"
        android:label="Edit Data"
        android:theme="@style/theme_dialog_black" />
    <activity
        android:name="edu.uml.cs.isense.queue.QueueEditRename"
        android:label="Rename Data Set"
        android:theme="@style/theme_dialog_black" />
    
</manifest>