<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uml.cs.isense"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />

    <activity
        android:name="edu.uml.cs.isense.queue.QueueLayout"
        android:label="Upload Data"
        android:theme="@style/theme_queue_layout" />
    <activity
        android:name="edu.uml.cs.isense.queue.QueueAlter"
        android:label="Alter Data Set"
        android:theme="@style/theme_dialog_white" />
    <activity
        android:name="edu.uml.cs.isense.queue.QueueEditData"
        android:label="Edit Data"
        android:theme="@style/theme_dialog_white" />
    <activity
        android:name="edu.uml.cs.isense.queue.QueueEditRename"
        android:label="Rename Data Set"
        android:theme="@style/theme_dialog_white" />
    <activity
        android:name="edu.uml.cs.isense.queue.QueueDeleteSelected"
        android:label="Delete Selected Data Sets"
        android:theme="@style/theme_dialog_white" />
    <activity
        android:name="edu.uml.cs.isense.queue.NoInitialProject"
        android:label="No Associated Projects"
        android:theme="@style/theme_dialog_white" />
    <activity
        android:name="edu.uml.cs.isense.proj.BrowseProjects"
        android:label="Projects" />
    <activity
        android:name="edu.uml.cs.isense.proj.NoQR"
        android:label="No QR Code Scanner Found"
        android:theme="@style/theme_dialog_white" />
    <activity
        android:name="edu.uml.cs.isense.proj.Setup"
        android:label="Select a Project"
        android:theme="@style/theme_dialog_white" />
    <activity
        android:name="edu.uml.cs.isense.dfm.FieldMatching"
        android:label="Select Fields"
        android:theme="@style/theme_dialog_white" />
    <activity
        android:name="edu.uml.cs.isense.supplements.FileBrowser"
        android:label="Select a File"
        android:theme="@style/theme_dialog_white" />
    <activity
        android:name="edu.uml.cs.isense.queue.QueueSummary"
        android:label="Summary"
        android:theme="@style/theme_dialog_white" />

</manifest>